<!--TOUS DROITS RÉSERVÉS À SIR ADRIEN CHAUVIN-->

<!--TITRE-->
<div class="text-center mt-3 mb-3">
  <h1>Top Collègues</h1>
</div>

<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarTogglerDemo03">
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-light my-2 my-sm-0" type="submit" routerLink="/connexion">Déconnexion</button>
    </form>
  </div>
</nav>

<!--PAGINATION-->
<div class="mt-2">
  <nav class="text-center">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" routerLink="/votes">Votes</a></li>
      <li class="page-item"><a class="page-link" routerLink="/classement">Classement</a></li>
    </ul>
  </nav>
</div>
