<div class="container-fluid">
  <div class="row">
    <div class="col-4" *ngFor="let vote of votes">
      <div class="border border-dark rounded-lg m-1 shadow text-center">
        <img class="img-fluid rounded shadow mt-3" src="{{vote.pictureUrl}}"><br>
        <br>
        <h3 >{{vote.lastName | uppercase}} {{vote.firstName}}</h3>
        <br>
        <!--vote positif-->
        <div class="d-flex justify-content-center mb-2">
          <div *ngIf="vote.score==true">
            <button type="button" class="btn btn-success mr-2" (click)="voterPour(vote.id)">Voter Pour</button>
            <button type="button" class="btn btn-outline-danger" (click)="voterContre(vote.id)">Voter Contre</button>
          </div>

          <!--vote négatif-->
          <div *ngIf="vote.score==false">
            <button type="button" class="btn btn-outline-success mr-2" (click)="voterPour(vote.id)">Voter Pour</button>
            <button type="button" class="btn btn-danger" (click)="voterContre(vote.id)">Voter Contre</button>
          </div>

          <div *ngIf="vote.score==undefined">
            <button type="button" class="btn btn-outline-success mr-2" (click)="voterPour(vote.id)">Voter Pour</button>
            <button type="button" class="btn btn-outline-danger" (click)="voterContre(vote.id)">Voter Contre</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
